<!DOCTYPE html>
<html>
  <head>
    <title>IntercomExercise</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
   
    
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1 justify-content-end"><%= link_to "Master the Messenger", root_path, class: "text-white" %></span>
          <div class="nav justify-content-end"> 
          <%# if current_user %>
            <%#=button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
          <%# else %>
            <%#= link_to "Log in", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
            <%#= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary navbar-btn', method: :get %>
          <%# end %>
        </div>
    </nav>
    
    
   

<div class="container">
    <%= yield %>
</div>
 
</body>
</html>
